@font-face {
  font-family: "Tenor Sans";
  src: url("../fonts/subset-TenorSans.eot");
  src: url("../fonts/subset-TenorSans.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-TenorSans.woff2") format("woff2"), url("../fonts/subset-TenorSans.woff") format("woff"), url("../fonts/subset-TenorSans.ttf") format("truetype"), url("../fonts/subset-TenorSans.svg#TenorSans") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "font_figcaption";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
}
body {
  box-sizing: border-box;
}

.container {
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.main-wraper {
  display: grid;
  grid-template-columns: 200px auto;
}

.header__subheader {
  display: flex;
  padding: 10px 0;
}
.header__subheader-wraper {
  width: 100%;
  background-color: #515151;
}
.header__language-link {
  text-decoration: none;
  margin-left: 10px;
}
.header__language-link:hover {
  color: #CBC8C9;
}
.header__text {
  color: #FFFFFF;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}
.header__title {
  margin-left: auto;
  margin-right: auto;
}
.header__main {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  max-width: 100px;
}
.header__menu-list {
  display: flex;
}
.header__menu-item {
  margin-right: 15px;
}
.header__menu-item:last-child {
  margin-right: 0px;
}
.header__navigation {
  display: flex;
  padding: 20px 0;
  border-top: 1px solid #CBC8C9;
  border-bottom: 1px solid #CBC8C9;
  justify-content: center;
}
.header__navigation-list {
  display: flex;
}
.header__navigation-item {
  margin-right: 50px;
}
.header__navigation-item:last-child {
  margin-right: 0px;
}
.header__navigation-item-link {
  color: #1A1918;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.banner {
  margin-top: 5px;
  position: relative;
}
.banner__image {
  width: 100%;
}
.banner__figcaption {
  position: absolute;
  color: #FFFFFF;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 37px;
  text-transform: uppercase;
  left: 35px;
  bottom: 35px;
}

.aside {
  grid-column-start: 1;
  grid-column-end: 2;
}

.aside {
  padding-top: 65px;
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
}
.checkbox-name {
  color: #1A1918;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.checkbox-real {
  position: absolute;
  opacity: 0;
}
.checkbox-real:checked + .checkbox-fake {
  width: 18px;
  height: 18px;
  background-color: #1A1918;
  border: 2px solid #FFFFFF;
}
.checkbox-fake {
  width: 20px;
  height: 20px;
  border: 1px solid #CBC8C9;
}
.checkbox-text {
  color: #1A1918;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  margin-left: 10px;
}

.main-content {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
}

.main-category {
  margin-top: 40px;
}
.main-content {
  padding-bottom: 200px;
}
.main-content__quantity {
  margin-left: auto;
  color: #1A1918;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.main-content__item-link {
  text-decoration: none;
}
.main-content__list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 90px 20px;
}
.main-content__item:hover {
  background-color: #CBC8C9;
}
.main-content__figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}
.main-content__picture-wraper {
  position: relative;
}
.main-content__image {
  width: 100%;
}
.main-content__icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.main-content__sale {
  width: 120px;
  background-color: #CBC8C9;
  color: #1A1918;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  position: absolute;
  left: 15px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
.main-content__figcaption {
  color: #1A1918;
  font-family: "font_from_google", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  width: 150px;
  text-align: center;
}
.main-content__bottom-logo {
  padding: 60px 0;
  border-top: 1px solid #CBC8C9;
  border-bottom: 1px solid #CBC8C9;
}
.main-content__bottom-logo-icon {
  display: block;
  margin: 0px auto;
}

.footer {
  padding-top: 40px;
}
.footer__navigation-link {
  color: #1A1918;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
}
.footer__navigation-list {
  display: flex;
}
.footer__navigation-item {
  width: 100px;
  margin-right: 40px;
}
.footer__copyright {
  margin-top: 20px;
  color: #1A1918;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

.product-path {
  display: flex;
  justify-content: flex-start;
}
.product__wraper {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
}
.product-card__icon {
  width: 20px;
  height: 20px;
}
.product-card__sale {
  width: 120px;
  background-color: #CBC8C9;
  color: #1A1918;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  left: 15px;
  padding: 0px 10px;
  text-align: center;
  text-transform: uppercase;
}
.product-card-mini__list {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 769px) {
  .container {
    max-width: 100%;
  }

  .main-wraper {
    grid-template-columns: auto auto;
  }

  .header__subheader {
    flex-direction: column;
    align-items: center;
  }

  .header__title {
    margin: 0px;
  }

  .header__language {
    margin-left: auto;
    margin-bottom: 10px;
  }

  .header__main {
    flex-direction: column;
    align-items: center;
  }

  .header__logo {
    margin-bottom: 10px;
  }

  .banner__figcaption {
    left: 15px;
    bottom: 15px;
    font-size: 15px;
  }

  .aside {
    padding: 0px;
    display: flex;
    flex-direction: column;
  }

  .checkbox-name {
    margin-bottom: 10px;
  }

  .main-content {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 50px;
  }

  .main-content__list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    row-gap: 30px;
  }

  .aside {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .footer__navigation-item {
    margin-right: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
