@import "_variables";

.header{
    &__subheader{
        display: flex;
        padding: 10px 0;
        &-wraper{
            width: 100%;
            background-color: $color_background;
        }
    }
    &__language{
        &-link{
        text-decoration: none;
        margin-left: 10px;
        &:hover{
            color: $color_links;
        }
        }
    }
    &__text{
        color: $color_secondary;
        font-family: $font_main;
        font-weight: $font_weight_main;
        font-size: $font_size_header;
        text-transform: uppercase;
    }
    &__title{
        margin-left: auto;
        margin-right: auto;
    }
    &__main{
        padding: 20px 30px;
        display: flex;
        justify-content: space-between;

    }
    &__logo{
        max-width: 100px;
    }
    &__menu{
        &-list{
            display: flex;
        }
        &-item{
            margin-right: 15px;
            &:last-child{
                margin-right: 0px;
            }
        }
    }
    &__navigation{
        display: flex;
        padding: 20px 0;
        border-top: 1px solid $color_borders;
        border-bottom: 1px solid $color_borders;;
        justify-content: center;
        &-list{
            display: flex;
        }
        &-item{
            margin-right: 50px;
            &:last-child{
                margin-right: 0px;
            }
            &-link{
                color: $color_main;
                font-family: $font_main;
                font-weight: $font_weight_main;
                font-size: $font_size_header;
                line-height: $line_height_header;
                text-transform: uppercase;
                text-decoration: none;
                &:hover{
                    color: $color_links;
                }
            }
        }
    }
}
.banner{
    margin-top: 5px;
    position: relative;
    &__image{
        width: 100%;
    }
    &__figcaption{
        position: absolute;
        color: $color_secondary;
        font-family: $font_main;
        font-weight: $font_weight_main;
        font-size: $font_size_figcaption;
        text-transform: uppercase;
        left: 35px;
        bottom: 35px;
    }
}
