$font_main: 'Tenor Sans', sans-serif;
$font_weight_main: 400;
$font_figcaption: 'font_from_google',  sans-serif; 
$font_second-page: 'font_from_google',  sans-serif; 

$font_size_header: 16px;
$font_size_figcaption: 37px;
$font_size_main: 15px;
$font_size_footer: 15px;


$line_height_header: 18px;
$line_height_main: 18px;
$line_height_footer: 25px;

$color_main: #1A1918;
$color_secondary: #FFFFFF;
$color_background: #515151;
$color_links: #CBC8C9;
$color_borders: #CBC8C9;



